body{
    margin: 0;
}

.photoprofil {
    width: 60%;
    
}

header-active{
    background-color: blue
}

#myButton {
    transition: transform 1s;
}
.rotate {
    transform: rotate(360deg);
}
