/*responsive*/

/*For mobiles*/
@media only screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
    article {
        width: 80%;
    }

}

/*For tablets only */ 
@media only screen and (max-width:600px) and (min-width:900px) {
    article{
        width: 50%;
    }
}

/*For Desktop only */
@media only screen and (min-width:900px) {
    
}


#img1 {
    width: 100%;
    height: 110%;
    opacity: 1;

}

#moi {
    justify-content: center;

}

#callto {
    background-color:grey; /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#callto:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 2s55, 255, 0.19);
}

#header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}