@import url('https://fonts.googleapis.com/css?family=Roboto');

/*For mobiles*/
@media only screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
    article {
        width: 80%;
    }

}

/*For tablets only */ 
@media only screen and (max-width:600px) and (min-width:900px) {
    article{
        width: 50%;
    }
}

/*For Desktop only */
@media only screen and (min-width:900px) {
    
}


#aboutme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}

#header {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
}

p {
    font-family:"roboto";
}