/*For mobiles*/
@media only screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
    article {
        width: 80%;
    }

}

/*For tablets only */ 
@media only screen and (max-width:600px) and (min-width:900px) {
    article{
        width: 50%;
    }
}

/*For Desktop only */
@media only screen and (min-width:900px) {
    
}

#header {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
}

#articles {
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    flex-wrap:wrap;
    align-content: center;

}

#articles article {
    position: relative; 
    padding: 10px;
    margin:20px; 
    height: 350px; 
    width: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 0;
    letter-spacing: 10px;
    font-family: kg;  
    font-size: 20px;
    text-align: center;    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    transition: background-color 0.3s ease-in-out;
    transition: all 1s ease-in-out;
    filter: grayscale(0);
    overflow: hidden;
    
} 

.filter-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(247, 242, 242, 0.4);
    z-index: -1;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -2;
    filter:grayscale(1);
    transition: all 0.3s ease-in-out;
}

/* Image For Articles */
#parcoursscolaire {background-image: url("img/agenda.jpg");}
#expériencesprofessionnelles {background-image: url("img/postit.jpg");}
#centresdinterets {background-image: url("img/map.jpg");}
#competences {background-image: url("img/compet.jpg");}