/*For mobiles*/
@media only screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
    article {
        width: 80%;
    }

}

/*For tablets only */ 
@media only screen and (max-width:600px) and (min-width:900px) {
    article{
        width: 50%;
    }
}

/*For Desktop only */
@media only screen and (min-width:900px) {
    
}

.xp {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

#header {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
}

h1 {
    color: black
}

h2 {
    color: grey
}

p {
    color: blue
}

.paper {
    height: 50px; 
    width: 50px;
    transform: translate(0px, 0px);
    animation: paper 5s ease-in-out alternate; 

}

@keyframes paper {
    from {
        transform: translate(-600, 500);
    }
    to  {
        transform: translate(0px, 0px);
    }}